<div class="canvasHolder">
</div>

<div class="helperBarMount">

    <div class="helperBar transactionAll show BaseHelper" arial-label="Project footer">
        <a data-testid="fa-solid fa-question" title="Show commands">
            <i class="fa-solid fa-question"></i>
            <span></span>
        </a>

        <a data-testid="fa-solid fa-linkedIn" target="_blank" href="https://www.linkedin.com/in/mfundomthembu/"
            title="Connect with me on LinkedIn">
            <i class="fa-solid fa-question"></i>
            <span></span>
        </a>

        <a data-testid="fa-solid fa-github" target="_blank" href="https://github.com/Malums32"
            title="Check out my GitHub">
            <i class="fa-solid fa-github"></i>
            <span></span>
        </a>
    </div>

    <div class="helperBar transactionAll ">
        <a data-testid="solution"> Solution</a>
        <span></span>

        <a data-testid="reset">Reset</a>
        <span></span>

        <a data-testid="objective">Objective</a>
        <span></span>

        <a data-testid="help">Help</a>
        <span> </span>

        <a data-testid="fa-solid fa-right-from-bracket">
            <i class="fa-solid fa-right-from-bracket"></i>
        </a>
    </div>
</div>