<div class="terminal-wrap" role="dialog" aria-label="Command info modal">
    <!-- Title bar -->
    <div class="titlebar">
        <div class="traffic-lights" aria-hidden="true">
            <span class="dot close" (click)="onClose()"></span>
            <span class="dot min"></span>
            <span class="dot max"></span>
        </div>
        <!--<span class="title-label">{{ data.title }}</span>-->
    </div>

    <!-- Modal content -->
    <mat-dialog-content class="modal-content">
        <div class="modal-message" style="max-width: 825px;" [innerHTML]="safeContent" (click)="onContentClick($event)">
        </div>
        <div class="modal-links" *ngIf="data.links">
            <a *ngFor="let link of data.links.split(',')" [href]="link.trim()" target="_blank"
                rel="noopener noreferrer">{{ link.trim() }}</a>
        </div>
    </mat-dialog-content>
</div>